<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="MavenProject.casestudy.listners"/>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>
  <test thread-count="10" name="Test">
    <classes>
      <class name="MavenProject.casestudy.jpnagarStoreAddress"/>
      <class name="MavenProject.casestudy.contactMail"/>
      <class name="MavenProject.casestudy.sofaDimensions"/>
      <class name="MavenProject.casestudy.decorMirrorPrice"/>
      <class name="MavenProject.casestudy.bedsPriceLimit"/>
      <class name="MavenProject.casestudy.dreamliteMatresscheck"/>
      <class name="MavenProject.casestudy.signupValid"/>
      <class name="MavenProject.casestudy.loginInvalid"/>
      <class name="MavenProject.casestudy.checkGuntur"/>
      <class name="MavenProject.casestudy.CategorywiseMinPrices"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
